/* Custom normalize */
@import 'base/_normalize.pcss';

/* Base styles */
@import 'base/_color.pcss';
@import 'base/_sizes.pcss';

/* Partial styles */
@import 'partials/_icon.pcss';
@import 'partials/_button.pcss';
@import 'partials/_pillarbox.pcss';
@import 'partials/_grid.pcss';
@import 'partials/_block.pcss';
@import 'partials/_text.pcss';

/* Module styles */
@import 'modules/_page.pcss';
