/* stylelint-disable color-no-hex, color-named */

:root {
  --white: #fff;
  --black: #000;
  --yellow: #ff0;
  --red: #f00;
  --gray: #888;
  --colorNames: white, black, yellow, red, gray;
  --colorValues: var(--white), var(--black), var(--yellow), var(--red), var(--gray);
}
